<nav class="navbar bg-light">
    <h1>Eat Da Burger</h1>
</nav>
<center><img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" /></center>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Ready to Eat</h3>
                </div>
                <div class="card-body">

                    {{#each burgers}}
                    {{#unless devoured}}
                    <div>
                        <p class="burgername">{{id}}.) {{burger_name}}
                            <button class="btn btn-sm btn-outline-danger m-1 eat-btn float-right"
                                data-id="{{id}}">Eat me!</button>
                        </p>
                    </div>
                    {{/unless}}
                    {{/each }}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Eaten</h3>
                </div>
                <div class="card-body">

                    {{#each burgers}}
                    {{#if devoured}}
                    <div>{{id}}.) {{burger_name}}</div>
                    {{/if}}
                    {{/each }}

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addBurger">Order!</button>
                </div>
            </div>
        </div>
    </div>
</div>